body{
    background-color: black;
    color: azure;
}
nav{
    background-color: blue;
    text-align: right;
}
nav > a > abbr img{
    width: 5%;
    padding-left: 25px;
}
.container{
    background-color: gray;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.container > h1{
    text-align: center;
}
.container > div >img{
    width: 30%;

}
.container > div{
    text-align: center;
}
article{
    text-align: center;
    background-color: #7474f0;
    padding: 20px;
    margin-top: 14px;
}
.container > article > form > div > label > img{
    width: 9%;
    padding: -20px;
    margin-bottom: -4%;
}
.container > article > form > .txt{
    background-color: #8f38e0;
    padding: 8px;
    border-radius: 15px;
}
#imei{
    padding: 3%;
    width: 80%;
    border-radius: 10px;
}
#calc{
    padding: 2%;
    margin-top: 5px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .container{
        width: 90%;
    }
    nav > a > abbr img{
        width: 20%;
        padding-left: 10px;
    }
    .container > article > form > div > label > img{
        width: 15%;
    }
    #imei{
        width: 100%;
    }
    #calc{
        width: 100%;
    }
    
}